@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Work+Sans&display=swap');

.header{
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 231, 209);
    justify-content: center;
    align-items: center;
}
h3,h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: bolder;
    font-size: 2em;
}
.header-details{
    display: flex;
    justify-content: center;
    gap: 640px;
    padding-top: 10px;
}
nav ul{
    display: flex;
    gap: 10px;
}
nav ul>li{
    list-style: none;    
}
nav ul>li>a{
    text-decoration: none;
    color: black;
}

/* header information */
.header-info{
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-info h2{
    width: 500px;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
}
.header-info p{
    width: 800px;
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 0.8em;
    font-weight: 400;
    color: #727272;
}
/* 
For all button
 */
.button{
    background-color: orange;
    color: white;
    height: 40px;
    width: 115px;
    border: 0;
    border-radius: 7px;
    margin-bottom: 50px;
}
.header-image img{
    width: 900px;
    height: 500px;
    margin-bottom: 40px;
}

/* main section */
.main-feature-list{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.main-feature-list-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-top: 20px;
    margin-left: 100px;
}
.main-feature-list-image img{
    width: 200px;
    height: 200px;
}

.main-feature-list-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 300px;
    font-size: small;
}
.main-feature-list-info p{
    color: #727272;
    margin-bottom: 10px;
}
.main-feature-list-info button>a{
        text-decoration: none;
        color: white;
}
.main-button{
    height: 45px;
    width: 115px;
    background-color: orange;
    border: 0;
    border-radius: 7px;
    margin-top: 20px;
}

/* 
second section of main section 
*/
.main-feature-details {
    display: flex;
    gap: 100px;
    margin-left: 230px;
    margin-right: 50px;
}
.more-features{
    display: flex;
    flex-direction: column;
}
.more-features h3{
    border-left: 5px solid orange;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 18;
}
.more-features div{
    width: 430px;
    height: 120px;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 5px rgb(220, 219, 219);
    padding: 8px 5px;   
}
.more-features p{
    font-size: small;
    color: #727272;
}

.more-features-image{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 200px;
}
.year-button{
    height: 100px;
    width: 170px;
    position: relative;
    top: -70px;
    right: 50px;
    background-color: rgb(255, 132, 0);
    border: 0;
    border-radius: 8px;
    font-size: larger;
    font-weight: bold;
    color: white;
}

.facts{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
} 
.fact-paragraph, .footer-paragraph{
    width: 500px;
    font-size: medium;
    color: #727272;
}

.facts .icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 60px;
    margin-top: 30px;
    
}
.icons div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid burlywood;
    border-radius: 7px;
    text-align: center;
    font-weight: 800;
    width: 200px;
    height: 200px;
}
.icons div>.icon-paragraph{
    font-size: small;
    color: #727272;
}

/* This is footer */

.sponsor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsor .footer-paragraph{
    text-align: center;
    margin-bottom: 40px;
}

.sponsor-icons{
    display: flex;
    gap: 80px;
}
.sponsor-icons img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.copyright{
    width: 1000px;
    height: 50px;
    border:0;
    border-radius: 7px;
    background-color: rgb(244, 231, 209);
    text-align: center;
    margin-top: 50px;
    padding-top: 7px;
    margin-left: 250px;
    margin-bottom: 60px;
}

@media screen and (max-width:576px){
      
    .header{
        display: flex;
        flex-direction: column;
    }
    
    .header-details, .main-feature-list, .main-feature-details{
        display: grid;
        gap: 0;
        grid-template-columns: repeat(1,1fr);
    }
    .header-info p{
        width: 100%;
    }
    .main-feature-list-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .main-feature-details{
        margin-left: 10px;
    }
    .icons{
        display:flex;
        flex-direction: column;
    }
    
    .footer-paragraph{
        width: 100%;
    }
    .sponsor{
        margin-left: 0px;
    }
    .sponsor-icons{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .copyright{
        width: 100%;
        margin-left: 0px;
    }

}